body{
  font-family: serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: italic;
  padding-top: 50px;
  margin: 0;
  background: black;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.master-icon{
  width: 6em;
}
.img01{
  width: 50%; 
  overflow: hidden;
}
.img-0{
  margin-left: 9em;
  width: 30em;
}
.img1{
  width: 33em;
}
.img02{
  width: 39em;
}
.img03{
  width: 28em;
}
.img04{
  width: 24em;
}
.pd1{
  padding: 4em 0;
}
#icon1{
  margin: 1em -1em 0 0;
}
#icon2{
  margin: 1em -1em 0 2em;
}

h1{
  display: inline-block;
  margin: auto;
}