#heading{
  font-size: 36pt;
  font-family: serif;
  font-weight: bold;
  font-style: italic;
  padding-top: 250px;
  text-align: center;
}
.container{
  margin: auto;
  width:85% ;
  font-size: 14pt;
  text-align: left;
}
#sec1 .container nav a{
  margin-right: 3em;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.clear{
  clear: both;
}
.mg1{
  margin-top: 1em;
}
.head-image{
  width: 2em;
}
.head{
  padding: 0 0 0 84px;
}