body{
	background: #74ebd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #ACB6E5, #74ebd5);
	background: -o-linear-gradient(left, #ACB6E5, #74ebd5);
	background: linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 26+, Opera 12+, Safari 7+ */
}
.text{
	margin-top: 70px;
	font-size: 36pt;
	font-style: italic;
	text-align: center;
}
#section1 div button{
	background-color: #4a90e2;
	border: 0;
	border-radius: 5px;
	height: 40px;
	margin-left: 170px;
	width: 150px;
}
.white{
	color: white;
	font-size: 14pt;
	text-decoration: none;
}
#section2 div p{
	margin-left: 170px;
	font-size: 14pt;
	margin-top: 80px;
}
#section2 button a{
	text-decoration: none;
	color: white;
	font-size: 14pt;
}
.button{
	margin-left: 160px;
}
#section2 button{
	background-color: #4a90e2;
	border: 0;
	border-radius: 5px;
	height: 40px;
	
	width: 150px;
	margin-top: 150px;
}
#section2 img{
	float: right;
	margin-top: -120px;
	margin-right: 60px;
}