* {
	cursor: url(./../Images/kicon.png), auto;
}

body {
	margin: 0;
	background-color: #222;
	background-image: url("./../Images/bg.png");
	background-size: 34%;
	overflow-x: hidden;
}

.sec {
	width: 100%;
	margin: auto;
}

.sec *, footer *{
	color: white;	
	font-size: 20px;
}

.title {
	font-size: 48px;
	text-align: center;
	font-weight: bold;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* Section */
.sec .pic1 {
	width: 300px;
	position: absolute;
	left: 10px;	
}

.sec .pic2 {
	width: 300px;
	position: absolute;
	right: 10px;
}

.sec ul li {
	display: inline-block;
	width: 24%;
	text-align: center;
	padding: 30px 0;
}

.sec ul li:hover {
	background-color: #444;
}

*.none {
	border: none;
	background: none;
	text-decoration: none;
	list-style-type: none;
}

.sec div ul li a button{
	padding: 30px 100px;
}
/* Content */
.cont {
	width: 60%;
	margin: auto;
}

.topic {
	font-size: 1.5em;
	text-align: center;
}