body{
	background-image: url(./../images/karate-312078_960_720.png);
	width: 85%;
	background-size: 100%;
	margin: auto;
	font-family: sans-serif;
}
/*
 *section01
 */
#sec01{
    margin: 310px 30px 0 0;
}
#sec01 h1{
	color: black;
	text-align: center;
	font-family: Serif ;
	font-size: 36pt;
	font-style: italic;
    	margin: 100px 0 0 0;
}
#sec01 a{
	text-decoration:none; 
}
.button02 {
	text-align: center;	
	margin: 50px 0 0 0;
}
.button02 button{
	padding: 7px 15px 7px 15px;
	font-size: 14pt;
	border-radius: 5px;
	border: solid 1px white;
	background-color: white;
}